{% load static %}
{% load i18n %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="{% static 'modules/htmx/htmx.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'modules/alpinejs/alpine.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'modules/tailwindcss/3.3.1.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% progressive_web_app_meta %}
    <title>HelloMeals</title>
    {% block header %}
    {% endblock %}
    <script>
        document.addEventListener('touchmove', function (event) {
            if (event.scale !== 1) {
                event.preventDefault();
            }
        }, false);
    </script>
</head>
<body x-data class="dark:bg-slate-900" id="body">
{% include 'ClientManager/components/base/TopBar.html' %}
{% include 'ClientManager/components/ui/breadcrumb.html' %}
<div id="maincontent" class="container">
    {% block content %}
    {% endblock %}
</div>
{% include 'ClientManager/components/base/FootNavigation.html' %}
</body>
</html>