<script>
    document.addEventListener('alpine:init', () => {
        console.log("test")
        Alpine.store('as', {
            recipes: [],
            nav: [],

            async init() {
                let temp = await (await fetch('/api/Recipe')).json();
                this.recipes = temp.results
                this.nav = temp
                delete this.nav.results
            },
            getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            },
        })

    })
</script>
<div x-data>
    <button @click="console.log($store.as.recipes)">ABC</button>
    <button @click="console.log($store.as.nav)">DEF</button>
    <div class="flex flex-col items-center">
        <!-- Help text -->
        <span class="text-sm text-gray-700 dark:text-gray-400">
      Showing <span class="font-semibold text-gray-900 dark:text-white" x-text="$store.as.nav.start"></span> to <span
                class="font-semibold text-gray-900 dark:text-white" x-text="$store.as.nav.end"></span> of <span
                class="font-semibold text-gray-900 dark:text-white" x-text="$store.as.nav.count"></span> Entries
  </span>
        <!-- Buttons -->
        <div class="inline-flex mt-2 xs:mt-0">
            <button class="px-4 py-2 text-sm font-medium text-white bg-gray-800 rounded-l hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                Prev
            </button>
            <button class="px-4 py-2 text-sm font-medium text-white bg-gray-800 border-0 border-l border-gray-700 rounded-r hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                Next
            </button>
        </div>
    </div>
</div>