{% load i18n %}
<div class="m-6 mb-24" x-data="{
  store: {
    recipe: {
        nutrients: []
    },
    async requestRecipe(url){
        console.log(url)
        this.loading = true;
        this.recipe = await (await fetch(url)).json();
        this.loading = false;
    },
    async init() {
        await this.requestRecipe('/api/FullRecipe/' + location.href.split('/').at(-2))
    },
  }
}" x-init="await store.init()">

    <div x-show="store.loading" class="fixed top-0 left-0 z-50 flex justify-between w-full p-4 ">
        <div class="text-center flex justify-center w-full ">
            <button disabled type="button"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center">
                <svg aria-hidden="true" role="status" class="inline w-4 h-4 mr-3 text-white animate-spin"
                     viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                          fill="#E5E7EB"></path>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                          fill="currentColor"></path>
                </svg>
                {% trans 'common.loading.label' %}...
            </button>
        </div>
    </div>
    <div class="bg-white dark:bg-gray-800">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <div>
                    <h1 class="text-3xl font-semibold text-white mb-4" x-text="store.recipe.name"></h1>
                    <p class="text-base text-gray-700 dark:text-gray-400 mb-4" x-text="store.recipe.headline"></p>
                    <div class="mb-4">
                        <template x-if="store.recipe.nutrients.energyKcal">
                            <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
                                  style="white-space: nowrap;"
                                  x-text="store.recipe.nutrients.energyKcal + ` {% trans 'nutrients.kcal' %}`"></span>
                        </template>
                        <template x-if="store.recipe.nutrients.carbs">
                            <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
                                  style="white-space: nowrap;"
                                  x-text="store.recipe.nutrients.carbs + `g {% trans 'nutrients.carbs' %}`"></span>
                        </template>
                        <template x-if="store.recipe.nutrients.protein">
                            <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
                                  style="white-space: nowrap;"
                                  x-text="store.recipe.nutrients.protein + `g {% trans 'nutrients.protein' %}`"></span>
                        </template>
                        <template x-if="store.recipe.nutrients.fat">
                            <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
                                  style="white-space: nowrap;"
                                  x-text="store.recipe.nutrients.fat + `g {% trans 'nutrients.fat' %}`"></span>
                        </template>
                        <template x-if="store.recipe.nutrients.fatSaturated">
                            <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
                                  style="white-space: nowrap;"
                                  x-text="store.recipe.nutrients.fatSaturated + `g {% trans 'nutrients.fat_saturated' %}`"></span>
                        </template>
                        <template x-if="store.recipe.nutrients.sugar">
                            <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
                                  style="white-space: nowrap;"
                                  x-text="store.recipe.nutrients.sugar + `g {% trans 'nutrients.sugar' %}`"></span>
                        </template>
                        <template x-if="store.recipe.nutrients.salt">
                            <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
                                  style="white-space: nowrap;"
                                  x-text="store.recipe.nutrients.salt + `g {% trans 'nutrients.salt' %}`"></span>
                        </template>
                    </div>
                    <div class="mb-4">
                        <template x-for="utensil in store.recipe.utensils">
                            <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300"
                                  x-text="utensil.utensil.name" style="white-space: nowrap;"></span>
                        </template>
                    </div>
                    <p class="text-sm text-gray-900 dark:text-white mb-4" x-text="store.recipe.description"></p>
                    <div class="mb-4">
                        <img class="w-full" :src="store.recipe.image" alt="Recipe Image">
                    </div>
                </div>
                <div>
                    <div>
                        <h2 class="text-2xl font-semibold text-white mb-4">Ingredients</h2>
                        <template x-for="group in store.recipe.ingredient_groups">
                            <template x-if="group.ingredients.length > 0">
                                <div>
                                    <h3 class="text-lg font-semibold text-white mb-2" x-text="group.name"></h3>
                                    <table class="table-auto border-collapse border border-gray-300">
                                        <thead>
                                        <tr>
                                            <th class="px-4 py-2 bg-gray-800 border border-gray-300 text-white">
                                                Amount
                                            </th>
                                            <th class="px-4 py-2 bg-gray-800 border border-gray-300 text-white">
                                                Unit
                                            </th>
                                            <th class="px-4 py-2 bg-gray-800 border border-gray-300 text-white">
                                                Ingredient
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <template x-for="ingredient in group.ingredients">
                                            <tr>
                                                <td class="px-4 py-2 border border-gray-300 text-white"
                                                    x-text="ingredient.amount"></td>
                                                <td class="px-4 py-2 border border-gray-300 text-white"
                                                    x-text="ingredient.unit"></td>
                                                <td class="px-4 py-2 border border-gray-300 text-white"
                                                    x-text="ingredient.ingredient.name"></td>
                                            </tr>
                                        </template>
                                        </tbody>
                                    </table>
                                </div>
                            </template>
                        </template>
                    </div>
                </div>
            </div>
            <div class="mt-14">
                <h2 class="text-2xl font-semibold text-white mb-4">Work Steps</h2>
                <hr class="mb-8 border-gray-300">
                <div class="work-steps-container bg-gray-100 dark:bg-gray-800 p-4 rounded-lg">
                    <div class="list-decimal list-inside text-gray-900 dark:text-white">
                        <template x-for="(step, index) in store.recipe.work_steps">
                            <div class="mb-8">
                                <div class="flex items-start">
                                    <template x-if="store.recipe.work_steps.length > 1">
                                        <div x-data="{ completed: false }"
                                             @click="completed = !completed"
                                             class="cursor-pointer flex-shrink-0 w-8 h-8 text-white font-semibold rounded-full flex items-center justify-center"
                                             :class="{'bg-blue-500': !completed, 'bg-green-500': completed}">
                                            <span x-text="index + 1"></span>
                                        </div>
                                    </template>
                                    <div class="ml-3">
                        <span class="text-gray-900 dark:text-white ml-1"
                              x-html="step.description.replaceAll('\n', '<br>').replaceAll('\r', '<br>')"></span>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>

            </div>

        </div>


    </div>
