{% load i18n %}
<div class=" mb-24 md:ml-6 md:mr-6" x-data="{
  store: {
    recipe: {
        nutrients: []
    },
    currentServings: null,

    async setFavorite(){
        await (await fetch(`/api/Recipe/${this.recipe.helloFreshId}/favorite/${!this.recipe.favorited}`, {method: 'POST', headers: {'X-CSRFToken': this.getCookie('csrftoken')}} ) ).json();
        await this.requestRecipe('/api/FullRecipe/' + location.href.split('/').at(-2))
    },
    getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    },
    async toggleAvailability(ingredient){
        let method = ingredient.available ? 'DELETE' : 'POST'
        await (await fetch(`/api/Ingredient/Stock/${ingredient.helloFreshId}`, {method: method, headers: {'X-CSRFToken': this.getCookie('csrftoken')}} ) ).json();
        await this.requestRecipe('/api/FullRecipe/' + location.href.split('/').at(-2))
    },
    async requestRecipe(url){
        this.loading = true;
        this.recipe = await (await fetch(url)).json();
        this.loading = false;
    },
    async init() {
        await this.requestRecipe('/api/FullRecipe/' + location.href.split('/').at(-2))
        this.currentServings = this.recipe.servings
    },
  }
}" x-init="await store.init()">

    <div x-show="store.loading" class="fixed top-0 left-0 z-50 flex justify-between w-full p-4 ">
        <div class="text-center flex justify-center w-full ">
            <button disabled type="button"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center">
                <svg aria-hidden="true" role="status" class="inline w-4 h-4 mr-3 text-white animate-spin"
                     viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                          fill="#E5E7EB"></path>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                          fill="currentColor"></path>
                </svg>
                {% trans 'common.loading.label' %}...
            </button>
        </div>
    </div>
    <div class="bg-white dark:bg-gray-800">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <div>
                    <h1 class="text-3xl font-semibold dark:text-white mb-4" x-text="store.recipe.name"></h1>
                    <p class="text-base text-gray-700 dark:text-gray-400" x-text="store.recipe.headline"></p>
                    <!-- Top menu buttons -->
                    <div class="flex items-center gap-2">
                        <button @click="await store.setFavorite()">
                            <template x-if="store.recipe.favorited">
                                <svg class="w-8 h-8 mb-1 text-red-400" aria-hidden="true"
                                     fill="currentColor" viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z"></path>
                                </svg>
                            </template>
                            <template x-if="!store.recipe.favorited">
                                <svg class="w-8 h-8 mb-1 text-gray-500 dark:text-red-400" aria-hidden="true" fill="none"
                                     stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </template>
                        </button>
                        <template x-if="store.recipe.websiteLink !== null">
                            <a :href="store.recipe.websiteLink" target="_blank" rel="noopener noreferrer">
                                <svg aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5"
                                     viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                     class="inline-block w-8 h-8 mb-1 mr-1 dark:text-white">
                                    <path d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </a>
                        </template>
                        <template x-if="store.recipe.cardLink !== null">
                            <a :href="store.recipe.cardLink" target="_blank" rel="noopener noreferrer">
                                <svg aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5"
                                     viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                     class="inline-block w-8 h-8 mb-1 mr-1 dark:text-white">
                                    <path d="M6.72 13.829c-.24.03-.48.062-.72.096m.72-.096a42.415 42.415 0 0110.56 0m-10.56 0L6.34 18m10.94-4.171c.24.03.48.062.72.096m-.72-.096L17.66 18m0 0l.229 2.523a1.125 1.125 0 01-1.12 1.227H7.231c-.662 0-1.18-.568-1.12-1.227L6.34 18m11.318 0h1.091A2.25 2.25 0 0021 15.75V9.456c0-1.081-.768-2.015-1.837-2.175a48.055 48.055 0 00-1.913-.247M6.34 18H5.25A2.25 2.25 0 013 15.75V9.456c0-1.081.768-2.015 1.837-2.175a48.041 48.041 0 011.913-.247m10.5 0a48.536 48.536 0 00-10.5 0m10.5 0V3.375c0-.621-.504-1.125-1.125-1.125h-8.25c-.621 0-1.125.504-1.125 1.125v3.659M18 10.5h.008v.008H18V10.5zm-3 0h.008v.008H15V10.5z"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </a>
                        </template>
                    </div>

                    <div class="mb-2 flex items-center">
                        <template x-if="store.recipe.totalTime">
                            <span class="bg-gray-100 text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded mr-2 dark:bg-gray-700 dark:text-gray-400 border border-gray-500">
                                  <svg aria-hidden="true" class="w-3 h-3 mr-1" fill="currentColor"
                                       viewBox="0 0 20 20"
                                       xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd"
                                                                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
                                                                                clip-rule="evenodd"></path></svg>
                              <span x-text="store.recipe.totalTime"></span>
                            </span>
                        </template>
                        <template x-if="store.recipe.prepTime">
                            <span class="bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">
                                      <svg aria-hidden="true" class="w-3 h-3 mr-1" fill="currentColor"
                                           viewBox="0 0 20 20"
                                           xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd"
                                                                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
                                                                                    clip-rule="evenodd"></path></svg>
                                  <span x-text="store.recipe.prepTime"></span>
                                </span>
                        </template>
                        <template x-if="store.recipe.difficulty">
                            <div>
                                <template x-if="store.recipe.difficulty === 1">
                                    <span class="ml-2 bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">Einfach</span>
                                </template>
                                <template x-if="store.recipe.difficulty === 2">
                                    <span class="ml-2 bg-yellow-100 text-yellow-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">Mittel</span>
                                </template>
                                <template x-if="store.recipe.difficulty === 3">
                                    <span class="ml-2 bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Schwierig</span>
                                </template>
                            </div>
                        </template>
                    </div>
                    <div class="mb-4">
                        <template x-if="store.recipe.nutrients.energyKcal">
                            <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
                                  style="white-space: nowrap;"
                                  x-text="store.recipe.nutrients.energyKcal + ` {% trans 'nutrients.kcal' %}`"></span>
                        </template>
                        <template x-if="store.recipe.nutrients.carbs">
                            <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
                                  style="white-space: nowrap;"
                                  x-text="store.recipe.nutrients.carbs + `g {% trans 'nutrients.carbs' %}`"></span>
                        </template>
                        <template x-if="store.recipe.nutrients.protein">
                            <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
                                  style="white-space: nowrap;"
                                  x-text="store.recipe.nutrients.protein + `g {% trans 'nutrients.protein' %}`"></span>
                        </template>
                        <template x-if="store.recipe.nutrients.fat">
                            <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
                                  style="white-space: nowrap;"
                                  x-text="store.recipe.nutrients.fat + `g {% trans 'nutrients.fat' %}`"></span>
                        </template>
                        <template x-if="store.recipe.nutrients.fatSaturated">
                            <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
                                  style="white-space: nowrap;"
                                  x-text="store.recipe.nutrients.fatSaturated + `g {% trans 'nutrients.fat_saturated' %}`"></span>
                        </template>
                        <template x-if="store.recipe.nutrients.sugar">
                            <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
                                  style="white-space: nowrap;"
                                  x-text="store.recipe.nutrients.sugar + `g {% trans 'nutrients.sugar' %}`"></span>
                        </template>
                        <template x-if="store.recipe.nutrients.salt">
                            <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
                                  style="white-space: nowrap;"
                                  x-text="store.recipe.nutrients.salt + `g {% trans 'nutrients.salt' %}`"></span>
                        </template>
                    </div>
                    <div class="mb-4 flex flex-wrap">
                        <template x-for="utensil in store.recipe.utensils">
                            <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 mb-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300"
                                  x-text="utensil.utensil.name" style="white-space: nowrap;"></span>
                        </template>
                    </div>
                    <p class="text-sm text-gray-900 dark:text-white mb-4" x-text="store.recipe.description"></p>
                    <div class="mb-4">
                        <img class="w-full" :src="store.recipe.image" alt="Recipe Image">
                    </div>
                </div>
                <div>
                    <div>
                        <h2 class="text-2xl font-semibold dark:text-white mb-4">{% trans 'settings.grouping.ingredients' %}</h2>
                        <div class="mt-1">
                            <div class="flex items-center mb-4">
                                <label for="servings"
                                       class="text-gray-900 dark:text-white mr-2">{% trans 'Servings' %}:</label>
                                <input type="number" id="servings" min="1" step="1"
                                       class="w-16 py-1 px-2 border border-gray-300 rounded text-gray-900 dark:text-white bg-gray-100 dark:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-blue-500"
                                       x-model="store.currentServings">
                            </div>
                        </div>
                        <template x-for="group in store.recipe.ingredient_groups">
                            <template x-if="group.ingredients.length > 0">
                                <div>
                                    <h3 class="text-lg font-semibold dark:text-white mb-2" x-text="group.name"></h3>
                                    <div class="overflow-x-auto">
                                        <table class="table-auto border-collapse border border-gray-300">
                                            <colgroup>
                                                <col class="w-1/6">
                                                <col class="w-1/6">
                                                <col class="w-4/6">
                                            </colgroup>
                                            <thead>
                                            <tr>
                                                <th class="px-4 py-2 bg-gray-800 border border-gray-300 text-white">
                                                    {% trans 'Amount' %}
                                                </th>
                                                <th class="px-4 py-2 bg-gray-800 border border-gray-300 text-white">
                                                    {% trans 'Unit' %}
                                                </th>
                                                <th class="px-4 py-2 bg-gray-800 border border-gray-300 text-white">
                                                    {% trans 'Ingredient' %}
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <template x-for="ingredient in group.ingredients">
                                                <tr>
                                                    <td class="px-2 py-2 border border-gray-300 dark:text-white max-w-xs"
                                                        x-text="ingredient.amount > 0 ? Math.round(ingredient.amount / store.recipe.servings * store.currentServings*100)/100 : ''"></td>
                                                    <td class="px-4 py-2 border border-gray-300 dark:text-white"
                                                        x-text="ingredient.unit"></td>
                                                    <td class=" border border-gray-300">
                                                        <div class="h-max px-4 py-2 dark:text-white break-all flex items-center">
                                                            <button @click="store.toggleAvailability(ingredient.ingredient)"
                                                                    class="flex-grow"
                                                                    x-text="ingredient.ingredient.name"></button>
                                                            <template x-if="ingredient.ingredient.available">
                                                                <button @click="store.toggleAvailability(ingredient.ingredient)"
                                                                        class="p-1 rounded-lg bg-lime-500 hover:bg-lime-600 focus:outline-none">
                                                                    <svg class="w-6 h-6 text-black" aria-hidden="true"
                                                                         fill="none" stroke="currentColor"
                                                                         stroke-width="1.5"
                                                                         viewBox="0 0 24 24"
                                                                         xmlns="http://www.w3.org/2000/svg">
                                                                        <path d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"
                                                                              stroke-linecap="round"
                                                                              stroke-linejoin="round"></path>
                                                                    </svg>
                                                                </button>
                                                            </template>
                                                        </div>

                                                    </td>

                                                </tr>
                                            </template>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </template>
                        </template>

                    </div>
                </div>
            </div>
            <div class="mt-14">
                <h2 class="text-2xl font-semibold dark:text-white mb-4">{% trans 'Work Steps' %}</h2>
                <hr class="mb-8 border-gray-300">
                <div class="work-steps-container bg-gray-100 dark:bg-gray-800 p-4 rounded-lg">
                    <div class="list-decimal list-inside text-gray-900 dark:text-white">
                        <template x-for="(step, index) in store.recipe.work_steps">
                            <div class="mb-8">
                                <div class="flex items-start">
                                    <template x-if="store.recipe.work_steps.length > 1">
                                        <div x-data="{ completed: false }"
                                             @click="completed = !completed"
                                             class="cursor-pointer flex-shrink-0 w-8 h-8 text-white font-semibold rounded-full flex items-center justify-center"
                                             :class="{'bg-blue-500': !completed, 'bg-green-500': completed}">
                                            <span x-text="index + 1"></span>
                                        </div>
                                    </template>
                                    <div class="ml-3">
                        <span class="text-gray-900 dark:text-white ml-1"
                              x-html="step.description.replaceAll('\n', '<br>').replaceAll('\r', '<br>')"></span>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>

            </div>

        </div>


    </div>
