{% load i18n %}

<div x-data="{
    store: {
        overviewSearchString: null,
        targetSearchString: null,
        ingredients: [],
        targetIngredients: [],
        nav: {},
        mergeDialog: false,
        sourceIngredient: null,
        targetIngredient: null,

        getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        },

        async sendGet(url){
            return (await (await fetch(url)).json());
        },

        async mergeIngredient(){
            if (this.target === ''){return}
            var requestOptions = {
              method: 'POST',
              headers: {'X-CSRFToken': this.getCookie('csrftoken'), 'Content-Type': 'application/json'},
              redirect: 'follow'
            };
            await fetch(`/api/Ingredient/${this.sourceIngredient.helloFreshId}/assign/${this.targetIngredient}`, requestOptions)
              .then(response => response.text())
              .then(result => console.log(result))
              .catch(error => console.log('error', error));
            this.targetIngredient = null
            await this.getIngredients()
        },
        async getIngredients(url=null){
            params = ''
            if (this.overviewSearchString !== null){params += '&srch=' + this.overviewSearchString}
            furl = url ? url : '/api/Ingredient?ordering=name&page_size=24' + params
            temp = (await this.sendGet(furl))
            this.ingredients = temp.results
            this.nav = temp
        },
        async getTargetIngredients(){
            params = ''
            if (this.targetSearchString !== null){params += '&srch=' + this.targetSearchString}
            furl = '/api/Ingredient?ordering=name&page_size=24' + params
            temp = (await this.sendGet(furl))
            this.targetIngredients = temp.results
        },
        async init(){
        await this.getIngredients()
        },
        async next() {
        if (this.nav.next){
            await this.getIngredients(this.nav.next);
            window.scrollTo({ top: 0});
            }
        },
        async previous() {
            if (this.nav.previous){
                await this.getIngredients(this.nav.previous);
                window.scrollTo({ top: 0 });
            }
        },

    }

}" x-init="store.init()" class="mb-24">

    <!-- Merge Dialog -->
    <div :class="{ 'hidden': !store.mergeDialog }" id="medium-modal" tabindex="-1"
         class=" bg-gray-500 bg-opacity-75 flex justify-center fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-lg max-h-full">
            <!-- Modal content -->
            <div class="mb-24 relative bg-white rounded-lg shadow dark:bg-gray-700"
            >
                <!-- Modal header -->
                <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-xl font-medium text-gray-900 dark:text-white">
                        {% trans 'settings.grouping.groupInto' %}
                    </h3>
                    <button @click="store.mergeDialog = false"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                            data-modal-hide="medium-modal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <label for="default-search"
                       class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                             stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                        </svg>
                    </div>
                    <input type="search" x-model="store.targetSearchString"
                           @keypress="await store.getTargetIngredients()"
                           class=" block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg
                           bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600
                           dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           placeholder="Tag Group Name" required>
                </div>
                <div class="p-6">
                    <template x-for="ingr in store.targetIngredients" :key="ingr.helloFreshId">
                        <template x-if="ingr.helloFreshId !== store.sourceIngredient.helloFreshId">
                            <div>
                                <input x-model="store.targetIngredient" type="radio" :value="ingr.helloFreshId"
                                       :id="ingr.helloFreshId">
                                <label class="text-gray-900 dark:text-white" :for="ingr.helloFreshId"
                                       x-text="ingr.name"></label>
                            </div>

                        </template>
                    </template>
                </div>

                <!-- Modal footer -->
                <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                    <button @click="store.mergeIngredient(); store.mergeDialog = false"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        {% trans 'common.dialog.confirm' %}
                    </button>
                    <button @click="store.mergeDialog = false"
                            class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                        {% trans 'common.dialog.cancel' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Search bar -->
    <div class="mt-5 mb-5 flex flex-col items-center">
        <label for="default-search"
               class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">{% trans 'search' %}</label>
        <div x-data="{searchString: ''}" class="relative" style="width: 400px">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                     stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
            </div>
            <input type="search" id="default-search" @keypress="await store.getIngredients()"
                   x-model="store.overviewSearchString"
                   class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="{% trans 'recipe.name' %}" required>
        </div>

    </div>
    <!-- Navigation -->
    <div class="flex flex-col items-center">
            <span class="text-sm text-gray-700 dark:text-gray-400">
              {% trans 'common.navigation.showing' %} <span class="font-semibold text-gray-900 dark:text-white"
                                                            x-text="store.nav.start"></span> {% trans 'common.navigation.to' %} <span
                    class="font-semibold text-gray-900 dark:text-white"
                    x-text="store.nav.end"></span> {% trans 'common.navigation.of' %} <span
                    class="font-semibold text-gray-900 dark:text-white"
                    x-text="store.nav.count"></span> {% trans 'common.navigation.entries' %}
            </span>
        <div class="inline-flex mt-2 xs:mt-0">
            <button @click="await store.previous()"
                    class="px-4 py-2 text-sm font-medium text-white bg-gray-800 rounded-l hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                {% trans 'common.navigation.previous' %}
            </button>
            <button @click="await store.next()"
                    class="px-4 py-2 text-sm font-medium text-white bg-gray-800 border-0 border-l border-gray-700 rounded-r hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                {% trans 'common.navigation.next' %}
            </button>
        </div>
    </div>
    <div class="mt-5 mb-5 flex flex-col items-center">
        <ul>
            <template x-for="ingredient in store.ingredients">
                <div x-data="{ open: false }">
                    <li class="px-2 hover:bg-secondary-100 dark:text-white flex items-center">
                        <button class="mr-1" @click="store.sourceIngredient = ingredient; store.mergeDialog=true">≫
                        </button>
                        <template x-if="ingredient.children.length > 0">
                            <svg
                                    @click="open = !open"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="2.5"
                                    stroke="currentColor"
                                    class="h-4 w-4 mr-1 cursor-pointer"
                                    :class="{ 'transform rotate-90': open }">
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                                />
                            </svg>
                        </template>
                        <span x-text="ingredient.name"></span>
                    </li>
                    <template x-if="open && ingredient.children.length > 0">
                        <template x-for="subingredient in ingredient.children">
                            <ul class="ml-8">
                                <li class="px-2 hover:bg-secondary-100 dark:text-white">
                                    <button class="mr-1"
                                            @click="store.sourceIngredient = ingredient; store.mergeDialog=true">≫
                                    </button>
                                    <span x-text="subingredient.name"></span>
                                </li>
                            </ul>
                        </template>
                    </template>
                </div>
            </template>

        </ul>
    </div>
</div>
