
<button class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white" hx-get="{% url 'back_view' %}" hx-trigger="click" hx-replace-url="true" hx-swap="innerHTML" hx-target="#body">
    <svg class="w-4 h-4 mr-2" aria-hidden="true" fill="currentcolor" stroke="currentColor" stroke-width="1.5" viewBox="0 0 20 20"
         xmlns="http://www.w3.org/2000/svg">
        <path d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
    Back
</button>